<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
<title>新房地图找房-{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$AJ[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$AJ[sitename]}{/if}{/if}</title>
	{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}
    <link href="{AJ_SKIN}reset.css" rel="stylesheet" type="text/css" />
    <link href="{AJ_SKIN}map.css" rel="stylesheet" type="text/css" />
	<script src="{AJ_SKIN}js/sea.js" type="text/javascript"></script>	
  <script type="text/javascript" src="{AJ_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/jquery.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/page.js"></script>
</head>
<body>
	<div id="header">
	
	<div id="top_bar">
	<div class="cf wrap">
		<div class="fl" id="aijiacms_member">	</div>
		<div class="fr">
			<ul>
            	<li class="home"><a class="a" href="{$MODULE[1][linkurl]}" title="首页">首页</a></li>
				<li class="phone"><a class="a" href="{$EXT[mobile_url]}mobile.php" target="_blank">手机版</a></li>
                <li class="top_nav" ><a class="a" href="{$MODULE[1][linkurl]}map">地图找房</a></li>
			</ul>
		</div>
	</div>
</div>

		<h1>
			<a href="{$MODULE[1][linkurl]}" target="_blank">
				<img src="{if $MODULE[$moduleid][logo]}{AJ_SKIN}image/logo_{$moduleid}.gif{elseif $AJ[logo]}{$AJ[logo]}{else}{AJ_SKIN}image/logo.gif{/if}" />
			</a>
		</h1>
		<div id="sltype">
			<b>新房</b>
			<ul>
				<li>
					<a href="{$MODULE[1][linkurl]}map">二手房</a>
				</li>
				<li>
					<a href="{$MODULE[1][linkurl]}map/rent.html">租房</a>
				</li>
			</ul>
		</div>
		
			<input id="keyword" value="输入名称或地标" type="hidden"/>
		
		<div id="select">
			快速定位：
			<ul>
								  <li id="areaList"><span>区域</span><s></s><em></em>
				  <div>
					<a href="javascript:;" pid="0"  zoom="14">不限</a>
											{loop $mainarea $k $v}
											<a href="javascript:;" pid="{$v[areaid]}"  zoom="14">{$v[areaname]}</a>{/loop}
									  </div>
								<li id="blockList"><span>商圈</span><s></s><em></em>
					<div>
						<p class="gray9">
							请先选择区域
						</p>
					</div>
				</li>
				
			</ul>
		</div>
		<a href="{$MODULE[6][linkurl]}list.html" class="switchList">列表视图</a>
	</div>
	<div id="content" class="cf">
		<div id="shadow1"></div>
		<div id="shadow2"></div>
		<div id="lmenu">
			
						<ul class="cf" id="price">
			<li><b>均价：</b></li>
			<li><a href="javascript:;" fid="0">不限</a></li>
				{php $range_arr = getbox_name('range','newhouse_6')}
					    {loop $range_arr $key $v}
						<li><a href="javascript:;" fid="{$key}">{$v}</a></li>{/loop} 
						
						</ul>
						<ul class="cf" id="project">
			<li><b>物业类型：</b></li>
			<li><a href="javascript:;" fid="0">不限</a></li>
			 {php $maincat = get_maincat(0,6)}
{loop $maincat $k $v}
						<li><a href="javascript:;" fid="{$v[catid]}">{$v[catname]}</a></li>
						{/loop}
						</ul>
						<ul class="cf">
				<li><b>更多筛选：</b></li>
			</ul>
			<ul id="sidebarFilters">
				<li id="feature" class="filterFit">
					<span>建筑特色</span>
					<ul class="cf">
					<li><a href="javascript:;" fid="0">不限</a></li>
                    {php $lpts_arr = getbox_name('lpts','newhouse_6')}
					    {loop $lpts_arr $key $v}
				
										<li><a href="javascript:;" fid="{$key}">{$v}</a></li>{/loop}
								
										</ul>
				</li>
			</ul>
					</div>
		<div id="cmap">
			<div id="map"></div>
			<div id="aPanl">
				<img src="{AJ_SKIN}images/map/alert-t.png">您目前的地图范围内没有房源，可能是因为您的地图比例尺过大，您可以<a href="javascript:" class="reZoom">缩放地图</a>或<a href="javascript:" class="reCenter">返回中心</a>
			</div>
		</div>
		</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=41ecef6e7501997ca9bc50e982577c82"></script>
<script type="text/javascript">
seajs.use(["jquery", "alert", "bmap", "autoc"], function($, alertM, bmap) {
	var lh = $("#lmenu").outerHeight(),
		$w = $(window);
	var $map = $("#map,#shadow2").height($w.height() - 105 > lh ? $w.height() - 105 : lh);
	$w.on("resize", function() {
		var h = $w.height() - 105;
		$map.height(h > lh ? h : lh);
	})
	var $keyword = $("#keyword").autoC("{$MODULE[6][linkurl]}house.php?action=house");
	$keyword.on("focus", function() {
		if ($keyword.val() == "输入名称或地标") $keyword.val("");
	}).on("blur", function() {
		if ($keyword.val() == "") $keyword.val("输入名称或地标");
	})

	var SellScheduleControl=function() {
		this.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;
		this.defaultOffset = new BMap.Size(58, 10)
	}
	SellScheduleControl.prototype = new BMap.Control();
	SellScheduleControl.prototype.initialize = function(b) {
		var c = document.createElement("div");
		c.innerHTML = '<ul id="sellSchedule"><li class="t">销售状态</li><li><input type="checkbox" checked value="1"><img src="{AJ_SKIN}images/map/sellSchedule1.gif"></li><li><input type="checkbox" checked value="2"><img src="{AJ_SKIN}images/map/sellSchedule2.gif"></li><li><input type="checkbox" checked value="3"><img src="{AJ_SKIN}images/map/sellSchedule3.gif"></li><li><input type="checkbox" checked value="4"><img src="{AJ_SKIN}images/map/sellSchedule4.gif"></li></ul>';
		b.getContainer().appendChild(c);
		return c
	};
	var sellScheduleCtrl = new SellScheduleControl();
	window.CSS_URL = '{AJ_SKIN}images';
	window.IMG_URL = '{AJ_SKIN}images/';
	window.JS_URL = '{AJ_SKIN}js/';
	window.ESF_URL = '';
	window.SITE_URL = '{$MODULE[1][linkurl]}';
	window.RENT_URL = '';
	window.COMMUNITY_URL = '';
	window.searchType="xinfang";
	window.HOUSE_URL = "{$MODULE[6][linkurl]}";
	window.center = {
		 "lat":"<?php echo $lat;?>",
		"lng":"<?php echo $lan;?>",
		"zoom": 14
	};
	window.filter = {
		'areaid': 0,
		'circleid': 0,
		"price": 0,
		"project": 0,
		'feature': 0,
		'keyword': ''
	};

	window.map = new BMap.Map("map", {
		minZoom: 12
	});
	map.enableScrollWheelZoom();
	var point = new BMap.Point(center.lng, center.lat);
	map.centerAndZoom(point, center.zoom);
	map.addControl(new BMap.NavigationControl());
	map.addControl(sellScheduleCtrl);

	map.addEventListener("dragend", function() {
		bmap.getCurrentHouses('dragend');
	});
	map.addEventListener("zoomend", function() {
		bmap.getCurrentHouses('zoomend');
	});
	//参数
	window.params = document.location.hash.substring(1).toQueryParams();
	bmap.initBmap(params);//初始化url参数
	//初始化搜索条件样式
	bmap.initSearchStyle(params);
	$("#sellSchedule").on("click","input",function(){
		var state=$(this).is(':checked');
		bmap.colorCheck($(this).val()-0,state)
	})
	$("#sform").on("submit", function() {
		if(params.keyword != $keyword.val()){
			params.keyword = $keyword.val();
			bmap.initSearchStyle(params);
		}
		return false;
	})
	$('#price a').click(function(){
		params.f1 = $(this).attr('fid');
		bmap.initSearchStyle(params);
	})
	$('#project a').click(function(){
		params.f2 = $(this).attr('fid');
		bmap.initSearchStyle(params);
	})
	$('#feature a').click(function(){
		params.f3 = $(this).attr('fid');
		bmap.initSearchStyle(params);
	})
	$("#select li").on("mouseover",function(){
		$(this).addClass("on")
	}).on("mouseout",function(){
		$(this).removeClass("on")
	}).find("s").each(function(){
		$(this).width($(this).parent().outerWidth()-2)
	})
	var $areaList=$('#areaList').on("click","a",function(){
		$areaList.find('span').html($(this).html());
		$areaList.find('s').width($areaList.outerWidth()-2)
		//获取板块
		$.ajax({
			type:'GET',
			url: "{$MODULE[1][linkurl]}api/circle.php",
			data:{'areaid':$(this).attr('pid')},
			dataType:"html",
			success:function(response){
				if(response.length>0){
					$blockList.html(response);
				}else{
					$blockList.html('<p class="gray9">请先选择区域</p>');
				}
				
			}
		})
		params.a1 = $(this).attr('pid');
		params.a2 = 0;
		params.l1 = $(this).attr('lat');
		params.l2 = $(this).attr('lng');
		params.l3 = $(this).attr('zoom');
		params.keyword = '';
		$keyword.val("输入名称或地标");
		bmap.initSearchStyle(params);
	})
	var $blockList=$('#blockList').on('click',"a", function(){
		params.a2 = $(this).attr('pid');
		params.l1 = $(this).attr('lat');
		params.l2 = $(this).attr('lng');
		params.l3 = $(this).attr('zoom');
		bmap.initSearchStyle(params);
	}).find("div")
	$('#recentList').on("click","a",function(){
		params.keyword = $(this).text();
		$('#keyword').val(params.keyword);
		bmap.initSearchStyle(params);
	})
	$("#sltype").on("mouseover",function(){
		$(this).addClass("on")
	}).on("mouseout",function(){
		$(this).removeClass("on")
	})
	$("#sidebarFilters li.filterFit").on("mouseover",function(){
		$(this).addClass("on")
	}).on("mouseout",function(){
		$(this).removeClass("on")
	})
})
</script>
<script type="text/javascript">
{if $aijiacms_task}
show_task('{$aijiacms_task}');
{else}
{php include AJ_ROOT.'/api/task.inc.php';}
{/if}

</script>
</body>
</html>
