{if $typeid==1}
{$code}
{elseif $typeid==2}
<a href="{$url}" title="{$text_title}" target="_blank">{$text_name}</a>
{elseif $typeid==3}
{if $url}<a href="{$url}" target="_blank">{/if}<img src="{$image_src}" width="{$width}" height="{$height}" alt="{$image_alt}"/>{if $url}</a>{/if}
{elseif $typeid==4}
<embed pluginspage=http://www.macrom edia.com/go/getflashplayer src={$flash_src} type=application/x-shockwave-flash width={$width} height={$height} wmode=transparent quality=high></embed>{if $url}<br /><a href='{$url}' style='display:block;width:{$width}px;height:60px;position:absolute;margin-top:-{$height}px; z-index:999;background:#000;filter:alpha(opacity=0);-moz-opacity:0;opacity: 0' ></a>{/if}
{elseif $typeid == 5}
{loop $tags $i $t}
 <li>  <a target="_blank" href="{$t[linkurl]}" title="{$t[alt]}"> <img alt="{$t[alt]}" src="{imgurl($t[thumb])}" /></a></li>
{/loop}

{elseif $typeid==6}
	{if $tags}
		<div id="adword">
		<div class="adword">{template 'list-'.$ad_module, 'tag'}</div>
		</div>
	{/if}
{/if}
