<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={AJ_CHARSET}"/>
<title>{$AJ[sitename]}</title>
<link rel="stylesheet" type="text/css" href="{AJ_SKIN}style.css"/>
<script type="text/javascript" src="{AJ_PATH}lang/{AJ_LANG}/lang.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/page.js"></script>
</head>
<body oncontextmenu="return false">
<div id="poll__{$itemid}">
{template $template_poll, 'chip'}
</div>
<script style="text/javascript">
function Poll(i) {
	makeRequest('action=ajax&itemid='+i, '?', '_Poll');
}
function _Poll() {
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {
		if(xmlHttp.responseText == 'ok') {
			alert('投票成功，感谢参与');
			window.location.reload();
		} else if(xmlHttp.responseText) {
			alert(xmlHttp.responseText);
		}
	}
}
function H() {
	var h = Dd('poll__{$itemid}').scrollHeight;
	h = h + 30;
	try{parent.Dd('poll__{$itemid}').style.height = h+'px';}
	catch(e){}
}
H();
</script>
</body>
</html>