<link rel="stylesheet" type="text/css" href="css/sweet-alert.css">
<link rel="stylesheet" href="script/baguetteBox.css">
<script type="text/javascript" src="{AJ_PATH}lang/zh-cn/lang.js" charset="utf-8"></script>
<script type="text/javascript" src="{AJ_PATH}file/script/config.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script type="text/javascript" src="script/webapp.js" charset="utf-8"></script>
<script type="text/javascript" src="script/hammer.min.js"></script>
<script type="text/javascript" src="script/doT.min.js"></script>
<script type="text/javascript" src="script/sweet-alert.min.js"></script>
<script type="text/javascript" src="script/jquery.progress.js"></script>
<script type="text/javascript" src="script/baguetteBox.js"></script>


