{if $foot}
<div class="aui-footer-fix"></div>
<footer class="aui-nav" id="aui-footer">
        <ul class="aui-bar-tab">
            <li id="tabbar1">
                <span class="aui-iconfont aui-icon-favor"></span>
                <a href="index.php"><p>首页</p></a>
            </li>
            <li id="tabbar2">
                <span class="aui-iconfont aui-icon-mark"></span>
                <a href="channel.php"><p>频道</p></a>
            </li>
            <li class="active-warning" id="tabbar3">
                <span class="aui-iconfont aui-icon-my"></span>
                <a href="my.php"><p>我的</p></a>
            </li>
            <li id="tabbar4"><span class="aui-iconfont aui-icon-more"></span>
                <a href="more.php"><p>更多</p></a>
            </li>
        </ul>
    </footer>
{/if}
</body>
</html>