<style>
.aui-input-row .article-content {
  padding:5px 0 10px 0;
  color:#666;
  font-size:15px;
  line-height:33px;
  height:auto;
}
.aui-input-row .article-content img { width:90% !important;}
</style>
<input type="hidden" name="post[content]" id="content" class="aui-input" value="" placeholder="" />
<div class="aui-input-row"><span class="aui-input-addon"></span>
  <div class="H-textarea article-content" id="content-e">{$content}</div>
    
</div>
<script type="text/javascript" src="layer/artEditor.js"></script>
