<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta charset="utf-8"/>
{if $head_keywords}
<meta name="keywords" content="{$head_keywords}"/>
{/if}
{if $head_description}
<meta name="description" content="{$head_description}"/>
{/if}

{if $head_mobile}
<meta http-equiv="mobile-agent" content="format=html5;url={$head_mobile}">
{/if}
{if $EXT[archiver_enable]}
<link rel="archives" title="{$AJ[sitename]}" href="{$EXT[archiver_url]}"/>
{/if}
<link rel="shortcut icon" type="image/x-icon" href="{AJ_STATIC}favicon.ico"/>
{if $head_canonical}
<link rel="canonical" href="{$head_canonical}"/>
{/if}
<link href="{AJ_SKIN}reset.css" rel="stylesheet" type="text/css" />
{if $moduleid>8}<link rel="stylesheet" type="text/css" href="{AJ_SKIN}{$module}.css"/>{/if}
{if $moduleid==3}<link rel="stylesheet" type="text/css" href="{AJ_SKIN}style.css"/>{/if}
{if $moduleid!=8 && $moduleid!=6  && $moduleid!=1}<link href="{AJ_SKIN}esf.css" rel="stylesheet" type="text/css" />{/if}

<script type="text/javascript" src="{AJ_STATIC}lang/{AJ_LANG}/lang.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/jquery.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{AJ_STATIC}file/script/page.js"></script>
{if $lazy}<script type="text/javascript" src="{AJ_STATIC}file/script/jquery.lazyload.js"></script>{/if}
<script src="{AJ_SKIN}js/sea.js" type="text/javascript"></script>
<title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$AJ[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$AJ[sitename]}{/if}{/if}</title>
<script type="text/javascript">
{if $head_mobile && $EXT[mobile_goto]}
GoMobile('{$head_mobile}');
{/if}
{php $searchid = ($moduleid > 3 && $MODULE[$moduleid]['ismenu'] && !$MODULE[$moduleid]['islink']) ?$moduleid : 6;}
 var apptype = "{$MODULE[$searchid][moduledir]}";

</script>
</head><body>

<!-- 	<div id="top_bar">

	<div class="cf wrap">
		<div class="fl" id="aijiacms_member">	</div>
		<div class="fr">
			<ul>
            	<li class="home"><a class="a" href="{$MODULE[1][linkurl]}" title="首页">首页</a></li>
				<li class="favorite" id="favorite"><a class="a" href="{$MODULE[3][linkurl]}shortcut.php" title="保存桌面">保存桌面</a></li>
				<li class="phone"><a class="a" href="{$EXT[mobile_url]}mobile.php" target="_blank">手机版</a></li>
                {if $head_mobile}<li class="h_qrcode"><a href="javascript:Dqrcode();">二维码</a>&nbsp;</li>{/if}
                <li class="top_nav" ><a class="a" href="{$MODULE[1][linkurl]}map">地图找房</a></li>
			</ul>
		</div>
	</div>

</div> -->
{if $head_mobile}<div id="aijiacms_qrcode" style="display:none;"></div>{/if}
<h1 class="hide_title">{$head_title}</h1><div class="nav_box">
	<div id="nav">
		<h1><a href="{$MODULE[1][linkurl]}"><img src="{if $MODULE[$moduleid][logo]}{AJ_SKIN}image/logo_{$moduleid}.gif{elseif $AJ[logo]}{$AJ[logo]}{else}{AJ_SKIN}images/logo.gif{/if}" alt="{$AJ[sitename]}"/></a></h1>
		{if $AJ[city]}<div id="city_change">
		  <span>{$city_name}</span>
                    <a href="{AJ_PATH}api/city.php" id="city_c">更改城市<i></i></a>
                
                </div> {/if}
		<a href="{$MODULE[1][linkurl]}map" target="_blank" class="i_smap">地图找房</a>




		<form id="i_search" method="post" target="_blank" autocomplete="off" onSubmit="return false;">
			<div class="search_item" data-type="{$MODULE[$searchid][moduledir]}"><span>{$MODULE[$searchid][name]}</span><s><i></i><u></u></s></div>
			<ul class="search_item_list none">
		
	{php $searchids = array(6,5,7,8,14,16,13);}
	{if !in_array($searchid, $searchids)}
		{php $searchids[] = $searchid;}
	{/if}
	{loop $searchids $s}
		
		<li data-type="{$MODULE[$s][moduledir]}">{$MODULE[$s][name]}</li>
	{/loop}
			
				
			</ul>
			<input type="text" name="keyword" class="keyword "  x-webkit-speech value="{if $moduleid==6 || $moduleid<3}请输入楼盘名称(中文/拼音/简拼)、地址{elseif $moduleid==5 || $moduleid==7 }请输入小区名称/地址/标题{else}请输入搜索内容{/if}" id="input_chen">
			<button type="submit" title="房源搜索">搜索</button>
		</form>

		<!-- <a href="{$MODULE[2][linkurl]}publish.php" target="_blank" class="fabu">免费发布房源</a> -->
	</div>
</div>
<script>

seajs.use("hsearch",function(hs){
    
	hs("#i_search",{
		house:{
			url:"{$MODULE[6][linkurl]}list-k",
			initUrl:"{$MODULE[6][linkurl]}list.html",
			hz:".html",
			msg:"请输入楼盘名称(中文/拼音/简拼)、地址",
			autoUrl:"{$MODULE[6][linkurl]}house.php?action=house"
		},
		sale:{
			url:"{$MODULE[5][linkurl]}list-k",
			initUrl:"{$MODULE[5][linkurl]}list.html",
			hz:".html",
			msg:"请输入小区名称/地址/标题",
			autoUrl:"{$MODULE[6][linkurl]}house.php?action=xiaoqu"
		},
		rent:{
			url:"{$MODULE[7][linkurl]}list-k",
			initUrl:"{$MODULE[7][linkurl]}list.html",
			hz:".html",
			msg:"请输入小区名称/地址/标题",
			autoUrl:"{$MODULE[6][linkurl]}house.php?action=xiaoqu"
		},
		buy:{
			url:"{$MODULE[16][linkurl]}list-k",
			initUrl:"{$MODULE[16][linkurl]}list.html",
			hz:".html",
			msg:"请输入搜索内容",
			autoUrl:""
		},
		group:{
			url:"{$MODULE[15][linkurl]}list-k",
			initUrl:"{$MODULE[15][linkurl]}list.html",
			hz:".html",
			msg:"请输入搜索内容",
			autoUrl:""
		},
		community:{
			url:"{$MODULE[18][linkurl]}list-k",
			initUrl:"{$MODULE[15][linkurl]}list.html",
			hz:".html",
			msg:"请输入搜索内容",
			autoUrl:"{$MODULE[6][linkurl]}house.php?action=xiaoqu"
		},
		video:{
			url:"{$MODULE[14][linkurl]}search-k",
			initUrl:"{$MODULE[14][linkurl]}list.html",
			hz:".html",
			msg:"请输入搜索内容",
			autoUrl:""
		},
		home:{
			url:"{$MODULE[13][linkurl]}search-k",
			hz:".html",
			initUrl:"{$MODULE[13][linkurl]}list.html",
			msg:"请输入搜索内容",
			autoUrl:""
		},
		company:{
			url:"{$MODULE[4][linkurl]}search-k",
			hz:"",
			initUrl:"{$MODULE[4][linkurl]}list.html",
			msg:"请输入搜索内容",
			autoUrl:""
		},
		news:{
			url:"{$MODULE[8][linkurl]}search-k",
			initUrl:"{$MODULE[8][linkurl]}list.html",
			hz:".html",
			msg:"请输入搜索内容",
			autoUrl:""
		}
		
	});
});
</script>


{if $moduleid!=1}
<div class="nav_menu c_blue">
<ul><li><a href="{$MODULE[1][linkurl]}" {if $moduleid<4} class="on"{/if}><span>首页</span><em></em></a></li>{loop $MODULE $m}{if $m[ismenu]}<li><a href="{$m[linkurl]}"{if $m[isblank]} target="_blank"{/if} {if $m[moduleid]==$moduleid} class="on"{/if}><span{if $m[style]} style="color:{$m[style]};"{/if}>{$m[name]}</span></a><em></em></li>{/if}{/loop}</ul>

</div>
{/if}