</td>
</tr>
</table>
</div>
<!--[以下为系统关键代码，请勿删除]-->
<script type="text/javascript">
if(document.body.clientHeight > Dd('main').scrollHeight) Dd('main').style.height=document.body.clientHeight+'px';
if(get_cookie('m_side') == 11 && Dd('side_oh').className == 'side_h') {Dh('side');Dd('side_oh').className = 'side_s';}
var aijiacms_message = {$_message};
var aijiacms_chat = {$_chat};
{if $_message && $_sound}
if(window.location.href.indexOf('message.php') == -1) $('#aijiacms_space').html(sound('message_{$_sound}'));
{/if}
{if $_chat}
if(window.location.href.indexOf('chat.php') == -1) $('#aijiacms_space').html(sound('chat_new'));
{/if}
{if $_userid && $AJ[pushtime]}
window.setInterval('PushNew()',{$AJ[pushtime]}*1000);
{/if}
</script>
</body>
</html>