{template 'header'}

{template 'menu', 'newhouse'}		<div class="cf">
			<div class="detail_fl">
				<div class="bodyb">
					<div class="detail_score">
						<h4>{$title}楼盘怎么样</h4>
						
						
					</div>
					
							{template 'comment', 'chip'}
					
				
					</div>
			</div>
			<div class="detail_fr">
				<div class="bodyb">
	<div class="detail_fr_info">
		<h4>{$title}楼盘详情</h4>
		<p class="cf"><a href="{$linkurl}"><img src="{imgurl($thumb)}"></a>
			<a href="{$linkurl}wenfang.html">楼盘问答（<span class="red">{get_wfnum($itemid)}</span> 贴）</a><br>
			<a href="{$linkurl}dianping.html">楼盘点评（<span class="red">{get_dpnum($itemid)}</span> 条）</a><br>
			<a href="{$linkurl}#iwantgroupbuy">团购报名（<span class="red">{get_buynum($title)}</span> 人）</a>
		</p>
		<p>
			参考售价：<b class="red"> {if $price}{$price}</b>元/平方米{else}待定</b>{/if}
										<br>
			项目类型：{search_cats($catid, '6')}
										<br>
			所属商圈：<a href="{$MOD[linkurl]}list-b{$areaid}.html" target="_blank">{area_pos($areaid, ' ')}</a>			<br>
			楼盘地址{$address}<br>
		</p>
	</div>
</div>
<div class="fr_mobile">{if $telephone}{$telephone}{else}热线尚未开通{/if}</div>
				<div class="lista">
		<h4>{$title}周边楼盘</h4>
		<ul class="lmr">
			 <!--{tag("moduleid=6&condition=status=3 and isnew=1&areaid=$areaid&length=20&pagesize=10&order=addtime desc&template=list-loupan")}-->
		</ul>
	</div>
					<div class="lista">
		<h4>大家都在看</h4>
		<ul class="lmr">
						 <!--{tag("moduleid=6&condition=status=3 and isnew=1&areaid=$cityid&length=20&pagesize=10&order=addtime desc&template=list-loupan")}-->
					</ul>
	</div>
			</div>
		</div>
	<div class="detail_shengming">免责声明：本网站所刊载的"新房"所有资料及图表仅供参考使用，不声明或保证其内容之正确性或可靠性。刊载这些文档不视为{$title}已取得商品房预售许可证或达到可以销售的标准，且不构成对任何楼盘的购买的邀约或意图。参阅本网站上所刊的文档的人士，应被视为已确认得悉上述立场。购房者依据本网站提供的信息、资料及图表进行房屋交易做造成的任何后果与本网站无关。本网站有权但无此义务，改善或更正资料及图表任何部分之错误或疏忽。以上信息仅供参考，所有信息以开发商提供为准！
</div>

{template 'footer'}