{template 'header'}
<link href="{AJ_SKIN}xfreset.css" rel="stylesheet" type="text/css" />
	<link href="{AJ_SKIN}xinfang.css" rel="stylesheet" type="text/css" />

<div class="main">
         

    <div class="bread">您当前的位置：<a href="{$MODULE[1][linkurl]}" title="{$AJ[sitename]}">{$AJ[sitename]}</a>&gt;<a href="{$MOD[linkurl]}">{$MOD[name]}</a>&gt;<span>楼盘搜索</span></div>
   

	<div class="con">
		<div class="hslist" id="hslist">
			<h2>
				<a href="{$MOD[linkurl]}list.html" class="qy on">区域地标</a>
				<a href="{$MODULE[1][linkurl]}map/house.html" class="map" target="_blank">地图找房</a>
			</h2>
                            <div class="cf hsl_t">
                    <span>区域：</span>
                    <p id="hs_area" class="hs_hidep ">
                        <a href="javascript:" class="hs_hide" style="display: inline-none;"><u class="hs_mo">更多</u><u class="hs_le">收起</u></a>
						<em><a {if empty($areaid)}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'r')}.html">全部</a></em>
						{loop $mainarea $k $v}<em><a {if $areaid==$v[areaid]}class="on"{/if} href="{$MOD[linkurl]}list-r{$v[areaid]}{deal_str($lst,'r')}.html">{$v[areaname]}</a></em>{/loop}	
						{if $areaid}
						<span class="i">
								<em><a {if empty($bid)}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'b')}.html">全部</a></em>
								{php $mainareas = get_mainarea($areaid)}
						{loop $mainareas $k $v}
								<em><a {if $bid==$v[areaid]}class="on"{/if} href="{$MOD[linkurl]}list-b{$v[areaid]}{deal_str($lst,'b')}.html">{$v[areaname]}</a></em>{/loop}	</span>{/if}
						
                       
                                                </p>
                </div>
            			
			<div class="cf">
				<span>价格：</span>
				<p>
				<em><a {if empty($range)}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'p')}.html">全部</a></em>
																		{php $range_arr = getbox_name('range','newhouse_6')}
					    {loop $range_arr $key $v}
					 <em><a {if $range==$key}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'p')}-p{$key}.html">{$v}</a></em>{/loop}
										</p>
			</div>
			<div class="cf">
				<span>类型：</span>
				<p>
					<em><a  {if empty($catid)}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'t')}.html" >全部</a></em>
					 {php $maincat = get_maincat(0,6)}
{loop $maincat $k $v} <em><a  {if $catid==$v[catid]}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'t')}-t{$v[catid]}.html">{$v[catname]}</a></em>{/loop}	
										</p>
			</div>
			<div class="cf">
				<span>特色：</span>
				<p>
                 	<em><a  {if empty($lpts)}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'l')}.html" >全部</a></em>
																		{php $lpts_arr = getbox_name('lpts','newhouse_6')}
					    {loop $lpts_arr $key $v}
					 <em><a {if $lpts==$key}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'l')}-l{$key}.html">{$v}</a></em>{/loop}
                        				</p>
			</div>
			<div class="cf letter">
				<span>字母：</span>
				<p>
                   <a {if empty($letter)}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'e')}.html" >全部</a>
			  {php $l = array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');}
               {loop $l $k $v}
					<a {if $letter==$v}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'e')}-e{$v}.html">{$v}</a>{/loop}
                        				</p>
			</div>
			<div class="cf hsl_b">
				<span>名称：</span>
					<form action="" id="serach_form" method="post">
						
						<input data-url="{$MOD[linkurl]}house.php?action=house" type="text" id="hname" name="kw" value="" placeholder="请输入楼盘名称（支持拼音或简拼）" autocomplete="off">
						<a class="obtn" href="javascript:"><i class="search"></i><button type="submit"></button></a>
				</form>
			</div>
			<div class="hs_more cf" id="hs_more">
				<span>更多找房条件：</span>
				
				<div class="hs_mlist">建筑类型					<ul>
						<li><a href="{$MOD[linkurl]}list{deal_str($lst,'j')}.html">全部</a></li>
															{php $buildtype_arr = getbox_name('buildtype','newhouse_6')}
					    {loop $buildtype_arr $key $v}
					 <li><a {if $buildtype==$key}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'j')}-j{$key}.html">{$v}</a></li>{/loop}
												</ul>
				</div>
				<div class="hs_mlist">装修情况					<ul>
						<li><a href="{$MOD[linkurl]}list{deal_str($lst,'f')}.html">全部</a></li>
												{php $fix_arr = getbox_name('fitment','newhouse_6')}
					    {loop $fix_arr $key $v}
					 <li><a {if $fitment==$key}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'f')}-f{$key}.html">{$v}</a></li>{/loop}
												</ul>
				</div>
				<div class="hs_mlist">开盘时间					<ul style="display: none;">
						<li><a href="{$MOD[linkurl]}list{deal_str($lst,'o')}.html">全部</a></li>
														{php $kaipan = array('本月开盘', '下月开盘', '3月内开盘', '6月内开盘', '前3月已开','前6月已开');}
					    {loop $kaipan $k $v}
					 <li><a {if $opentime==($k+1)}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'o')}-o{$k+1}.html">{$v}</a></li>{/loop}
												</ul>
				</div>
				
			</div>
            		</div>

		<div class="fl xf_sh_list">
			<div class="xf_sh_list_t">
				<ul class="xszt cf">
					<li><a {if empty($typeid)}class="on"{/if} href="{$MOD[linkurl]}list{deal_str($lst,'h')}.html">全部</a></li>
							  {loop $TYPE $k $v} 
							<li><a  {if $typeid==($k+1)}class="on"{/if}  href="{$MOD[linkurl]}list{deal_str($lst,'h')}-h{$k+1}.html">{$v}</a></li>{/loop}
                  
				</ul>
				<div class="px">
					<p>默认排序<span class="pointer"><i class="sj_icon"></i><u class="sj_icon"></u></span></p>
					<ul>	<li><a href="list{deal_str($lst,'n')}.html">默认排序</a></li>
							    <li><a  href="list{deal_str($lst,'n')}-n1.html">售价从高到低</a></li>
                                <li><a  href="list{deal_str($lst,'n')}-n2.html">售价从低到高</a></li>
                                <li><a  href="list{deal_str($lst,'n')}-n3.html">开盘时间由近到远</a></li>
                                <li><a  href="list{deal_str($lst,'n')}-n4.html">开盘时间由远到近</a></li>
                            					</ul>
				</div>
				<div class="ssjj">共为您找到 <span>{$items}</span> 个楼盘</div>
				<div class="page">
					<a href=" {if $page==1} javascript:void(0);{else}{$MOD[linkurl]}list{deal_str($lst,'g')}-g{$page-1}.html{/if}" class="fl"></a>
					<a href="{$MOD[linkurl]}list{deal_str($lst,'g')}-g{if $page==$total}{$total}{else}{$page+1}{/if}.html" class="fr"></a>
					<span><em>{$page}</em>/{$total}</span>
				</div>
			</div>
			
			          				
           {if $page==1 && $kw}
		{ad($moduleid,$catid,$kw,6)}
		{load('m'.$moduleid.'_k'.urlencode($kw).'.htm')}
		{/if}
								{if $tags}
								 {if !empty($kw) and $items==1}{loop $tags $k $t}
						 {php header("location:".$t[linkurl]);}
						
						{/loop}	{/if}

{if $page == 1}{load('ad_m'.$moduleid.'_c'.$catid.'.htm')}{/if}
		{if $tags}{template 'list-'.$module, 'tag'}{/if}
            {else}
	
		{template 'noresult', 'message'}
	
		{/if}
		</div>
        <div class="fr lp_right">
    	
        <div class="category">
            <h2>推荐楼盘</h2>
            <ul>
                                	<!--{php $tags=tag("moduleid=6&condition=status=3 and isnew=1&areaid=$cityid&length=42&pagesize=10&order=level desc&template=null");}-->
 {loop $tags $i $t} 					<li><span class="jg">{if $t[price]}{$t[price]}元/平米{else}待定{/if}</span>[{area_pos($t[areaid], '')}] <a href="{$t[linkurl]}" target="_blank" title="{$t[title]}">{$t[title]}</a></li>{/loop}
 
 
                            </ul>
        </div>
		<div class="category adb">
    	{ad($moduleid,$catid,$kw,7)}
    	 </div>
        <div class="category">
            <h2>最新楼盘</h2>
            <ul>
                               <!--{php $tags=tag("moduleid=6&condition=status=3 and isnew=1&areaid=$cityid&length=42&pagesize=10&order=addtime desc&template=null");}-->
 {loop $tags $i $t} 					<li><span class="jg">{if $t[price]}{$t[price]}元/平米{else}待定{/if}</span>[{area_pos($t[areaid], '')}] <a href="{$t[linkurl]}" target="_blank" title="{$t[title]}">{$t[title]}</a></li>{/loop}
                            </ul>
        </div>
    	
    	
        <div class="category">
            <h2>热点楼盘</h2>
            <ul>
                               <!--{php $tags=tag("moduleid=6&condition=status=3 and isnew=1&areaid=$cityid&length=42&pagesize=10&order=hits desc&template=null");}-->
 {loop $tags $i $t} 					<li><span class="jg">{if $t[price]}{$t[price]}元/平米{else}待定{/if}</span>[{area_pos($t[areaid], '')}] <a href="{$t[linkurl]}" target="_blank" title="{$t[title]}">{$t[title]}</a></li>{/loop}
                            </ul>
        </div>
       
          
    </div>
<div style="clear:both;"></div>            <div class="guanzhu">
                <h2>网友正在关注的楼盘</h2>
                <ul class="cf">
                                       
									   <!--{php $tags=tag("moduleid=6&condition=status=3 and isnew=1 and thumb<>''&areaid=$cityid&length=42&pagesize=6&order=hits desc&template=null");}-->
 {loop $tags $i $t} 				
					                        <li {if $i==5} class="no_fl"{/if}>
                            <div class="thumb">
                                <div class="img"><a href="{$t[linkurl]}" target="_blank"><img src="{imgurl($t[thumb])}" alt="{$t[alt]}" width="150" height="110"></a></div>
                                <div class="text">
                                    <h3><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></h3>
                                    <p>									{if $t[price]}{$t[price]}元/平米{else}待定{/if}
									</p>
                                </div>
                            </div>
                        </li>{/loop}
						
                                    </ul>
            </div>
            </div>
 
    	<div class="shengming"> {$AJ[sitename]}所提供的2015 {if $AJ[city]}{$city_name}{else}{$AJ[city_sitename]}{/if}楼盘及{if $AJ[city]}{$city_name}{else}{$AJ[city_sitename]}{/if}房价信息仅供参考！{$AJ[sitename]} {if $AJ[city]}{$city_name}{else}{$AJ[city_sitename]}{/if}，专业的{if $AJ[city]}{$city_name}{else}{$AJ[city_sitename]}{/if}房产网，提供最全面的 {if $AJ[city]}{$city_name}{else}{$AJ[city_sitename]}{/if}新楼盘,  {if $AJ[city]}{$city_name}{else}{$AJ[city_sitename]}{/if}楼盘信息以及 {if $AJ[city]}{$city_name}{else}{$AJ[city_sitename]}{/if}房价查询，您可以查到{if $AJ[city]}{$city_name}{else}{$AJ[city_sitename]}{/if}新楼盘的打折优惠以及团购活动，为您找到最适合的{if $AJ[city]}{$city_name}{else}{$AJ[city_sitename]}{/if}新房房产信息。</div>
		

<script>


	seajs.use(["alert","loginafter","pk","autoc","cookie"],function(alertM,loginafter,pk){
		/* 对比 */
		pk({
			elm:".xf_sh_list_b .detail .db",
			hlength:3,
			url:"{$MOD[linkurl]}pk/",
			type:"楼盘"
		})
		/* 地区 */
		var $hs_area=$("#hs_area").on("click",".hs_hide",function(){
			if($.cookie("hs_hide")){
				$hs_area.removeClass("on")
				$.cookie("hs_hide","")
			}else{
				$hs_area.addClass("on")
				$.cookie("hs_hide",1)
			}
		})

		if($hs_area.height()>32){
			$hs_area.addClass("hs_hidep").find(".hs_hide").css("display","inline-block")
		}
		if($.cookie("hs_hide")){
			$hs_area.addClass("on")
		}

		$(".xf_sh_list_b .list").on("mouseenter","li",function(){
			$(this).addClass('on')
		}).on("mouseleave","li",function(){
			$(this).removeClass('on')
		})

		var $hname=$("#hname").autoC("{$MOD[linkurl]}house.php?action=house"),
		$form=$("#serach_form").on("submit",function(){
			var kw = $hname.val();
			if(kw == ""||kw==$hname.attr('placeholder')){
				$hname.focus();
				return false;
			}
			kw = encodeURIComponent(kw);
			window.location.href = "{$MOD[linkurl]}list{deal_str($lst,'k')}-k" + kw + ".html";
			return false;
		}).on("click","a.obtn",function(){
			$form.trigger("submit")
	});	

		/*********更多找房条件*************/
		$("#hs_more div").on({
			mouseenter:function(){
				$(this).find("ul").show()
			},
			mouseleave:function(){
				$(this).find("ul").hide()
			}
		})

		/* 排序 */
		$(".xf_sh_list_t .px").on({
			mouseenter:function(){
				$(this).addClass('on')
			},
			mouseleave:function(){
				$(this).removeClass('on')
			}
		})
	});
</script>
{template 'footer'}