<!--
<div class="pic_list">
      <h3><span style="float:left;">{$COM[company]}经纪人</span><div style="width:60px; float:right;"><a href="{userurl($username, 'file=agency', $domain)}">更多>></a></div></h3>
	  
      <ul class="agent">
	   <!--{php $tags=tag("moduleid=2&condition=companyid='$userid' &pagesize=".$main_num[$HM]."&order=edittime desc&fields=*&length=26&template=null");}-->
	<!--
	  {loop $tags $i $t}
	  			          <li> <a href="{$t[linkurl]}" class="headpic" target="_blank"><img src="{if $t[thumb]}{$t[thumb]}{else}{AJ_SKIN}image/nophoto_90x90.gif{/if}" width="90" height="90"/></a><p>{$t[truename]}<br>{$t[telephone]}</p></li>
						  {/loop}
                 
         				      </ul><div class="clear"></div>
    </div>
	-->