.aui_aero .aui_td_title {
	FONT: 12px 'Microsoft Yahei', Arial
}
.aui_aero .aui_td_buttons BUTTON {
	FONT: 12px 'Microsoft Yahei', Arial
}
.aui_aero .aui_content_table {
	BACKGROUND: #fffdf3; min-width: 9em
}
.aui_aero .aui_title_wrap {
	LEFT: auto; WIDTH: 100%; POSITION: absolute; TOP: 3px; HEIGHT: 30px
}
.aui_aero .aui_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; COLOR: #f89500; LINE-HEIGHT: 29px; PADDING-TOP: 0px; HEIGHT: 29px
}
.aui_aero .aui_loading_tip {
	BACKGROUND: url(aero/loading.gif) no-repeat center center; MARGIN: -8px 0px 0px -8px; WIDTH: 16px; TEXT-INDENT: -9999em; HEIGHT: 16px
}
.aui_aero .aui_left_top {
	BACKGROUND-IMAGE: url(aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_right_top {
	BACKGROUND-IMAGE: url(aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_left_bottom {
	BACKGROUND-IMAGE: url(aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_right_bottom {
	BACKGROUND-IMAGE: url(aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_top {
	BACKGROUND-IMAGE: url(aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_bottom {
	BACKGROUND-IMAGE: url(aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_title_icon {
	BACKGROUND-IMAGE: url(aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_close {
	BACKGROUND-IMAGE: url(aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_left_top {
	BACKGROUND-POSITION: 0px 0px; WIDTH: 14px; HEIGHT: 34px
}
.aui_aero .aui_right_top {
	BACKGROUND-POSITION: -14px 0px; WIDTH: 14px; HEIGHT: 34px
}
.aui_aero .aui_left_bottom {
	BACKGROUND-POSITION: 0px -34px; WIDTH: 14px; HEIGHT: 14px
}
.aui_aero .aui_right_bottom {
	BACKGROUND-POSITION: -14px -34px; WIDTH: 14px; HEIGHT: 14px
}
.aui_aero .aui_title_icon {
	BACKGROUND-POSITION: 0px -109px; LEFT: 0px; WIDTH: 11px; POSITION: absolute; TOP: 9px; HEIGHT: 11px
}
.aui_aero .aui_close {
	BACKGROUND-POSITION: left -96px; FONT-SIZE: 0px; Z-INDEX: 1; RIGHT: 0px; WIDTH: 13px; TEXT-INDENT: -9999em; LINE-HEIGHT: 0; TOP: 7px; HEIGHT: 13px
}
.aui_aero .aui_close:hover {
	BACKGROUND-POSITION: right -96px
}
.aui_aero .aui_top {
	BACKGROUND-REPEAT: repeat-x
}
.aui_aero .aui_bottom {
	BACKGROUND-REPEAT: repeat-x
}
.aui_aero .aui_top {
	BACKGROUND-POSITION: 0px -48px
}
.aui_aero .aui_bottom {
	BACKGROUND-POSITION: 0px -82px
}
.aui_aero .aui_left {
	BACKGROUND-IMAGE: url(aero/aero_s2.png); BACKGROUND-REPEAT: repeat-y
}
.aui_aero .aui_right {
	BACKGROUND-IMAGE: url(aero/aero_s2.png); BACKGROUND-REPEAT: repeat-y
}
.aui_aero .aui_left {
	BACKGROUND-POSITION: left top
}
.aui_aero .aui_right {
	BACKGROUND-POSITION: right bottom
}
.aui_aero .aui_buttons_wrap {
	BACKGROUND-COLOR: #fffdf3; TEXT-ALIGN: center; moz-border-radius: 5px; webkit-border-radius: 5px; border-radius: 5px
}
.aui_aero .aui_buttons_wrap SPAN {
	BACKGROUND-IMAGE: url(aero/btns.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
.aui_aero .aui_buttons_wrap BUTTON {
	BACKGROUND-IMAGE: url(aero/btns.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
.aui_aero .aui_buttons_wrap SPAN {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left -186px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.aui_aero .aui_buttons_wrap SPAN:hover {
	BACKGROUND-POSITION: left -217px
}
.aui_aero .aui_buttons_wrap BUTTON {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 12px; BORDER-TOP: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 31px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 31px; max-width: 200px
}
.aui_aero .aui_buttons_wrap SPAN BUTTON {
	BACKGROUND-POSITION: right -62px; COLOR: #666
}
.aui_aero .aui_buttons_wrap SPAN:hover BUTTON {
	BACKGROUND-POSITION: right -93px
}
.aui_aero .aui_buttons_wrap .aui_yes {
	BACKGROUND-POSITION: left -124px
}
.aui_aero .aui_buttons_wrap .aui_yes:hover {
	BACKGROUND-POSITION: left -155px
}
.aui_aero .aui_buttons_wrap .aui_yes BUTTON {
	BACKGROUND-POSITION: right 0px; COLOR: #f0f0f0
}
.aui_aero .aui_buttons_wrap .aui_yes:hover BUTTON {
	BACKGROUND-POSITION: right -31px
}
HTML:hover .aui_aero .aui_buttons_wrap BUTTON:unknown {
	outline: none 0
}
.aui_aero .aui_icon {
	BACKGROUND-IMAGE: url(aero/icons.png); MARGIN: 10px 0px 10px 10px; WIDTH: 48px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 48px
}
.aui_aero .art_alert {
	BACKGROUND-POSITION: 0px -96px
}
.aui_aero .art_succeed {
	BACKGROUND-POSITION: 0px 0px
}
.aui_aero .art_error {
	BACKGROUND-POSITION: 0px -48px
}
.aui_aero .art_confirm {
	BACKGROUND-POSITION: 0px -144px
}
