BODY {
	MARGIN: 0px; HEIGHT: 100%
}
.aui_dialog_wrap {
	VISIBILITY: hidden
}
.aui_dialog {
	LEFT: 0px; POSITION: absolute; TOP: 0px; TEXT-ALIGN: left
}
.aui_table {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
.aui_table TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.aui_title_icon {
	DISPLAY: inline; ZOOM: 1
}
.aui_content {
	DISPLAY: inline; ZOOM: 1
}
.aui_dialog_icon {
	DISPLAY: inline; ZOOM: 1
}
.aui_buttons_wrap SPAN {
	DISPLAY: inline; ZOOM: 1
}
.aui_title_icon {
	FONT-SIZE: 0px; VERTICAL-ALIGN: middle
}
.aui_dialog_icon {
	FONT-SIZE: 0px; VERTICAL-ALIGN: middle
}
.aui_title {
	OVERFLOW: hidden; CURSOR: move
}
.art_no_drag .aui_title {
	CURSOR: default
}
.aui_close {
	DISPLAY: block; POSITION: absolute; outline: none
}
.aui_td_content {
	TEXT-ALIGN: center
}
.aui_content {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 10px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.art_full {
	DISPLAY: block; MARGIN: 0px; WIDTH: 100%; HEIGHT: 100%
}
.aui_noContent {
	WIDTH: 5em; HEIGHT: 1.2em
}
.aui_content_wrap {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 100%
}
.aui_td_icon {
	VERTICAL-ALIGN: top
}
.aui_buttons_wrap {
	WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.aui_buttons_wrap SPAN {
	MARGIN: 5px 10px
}
.aui_buttons_wrap BUTTON {
	CURSOR: pointer
}
.art_loading .aui_content {
	VISIBILITY: visible
}
.art_loading .aui_buttons_wrap {
	VISIBILITY: visible
}
.art_loading .aui_td_icon {
	DISPLAY: none
}
.aui_loading_tip {
	LEFT: 50%; VISIBILITY: hidden; MARGIN: -0.6em 0px 0px -2.5em; WIDTH: 5em; LINE-HEIGHT: 1.2em; POSITION: absolute; TOP: 50%; HEIGHT: 1.2em; TEXT-ALIGN: center
}
.art_loading .aui_loading_tip {
	VISIBILITY: visible
}
#aui_iframe_mask {
	DISPLAY: none; BACKGROUND: url(transparent.gif); VISIBILITY: hidden; WIDTH: 100%; HEIGHT: 100%; opacity: 0
}
.art_page_lock #aui_iframe_mask {
	DISPLAY: block; VISIBILITY: visible
}
.art_page_move #aui_iframe_mask {
	DISPLAY: block; VISIBILITY: visible
}
#aui_overlay {
	DISPLAY: none; VISIBILITY: hidden; WIDTH: 100%; HEIGHT: 100%
}
.art_page_lock #aui_overlay {
	DISPLAY: block; VISIBILITY: visible
}
#aui_overlay DIV {
	BACKGROUND: #000; FILTER: alpha(opacity=70); HEIGHT: 100%; opacity: 0.7
}
#aui_overlay IFRAME {
	Z-INDEX: -1; FILTER: alpha(opacity=0); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
#aui_temp_wrap {
	DISPLAY: none
}
#aui_temp {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; DISPLAY: none; FILTER: alpha(opacity=40); BORDER-LEFT: #000 1px solid; CURSOR: move; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; BACKGROUND-COLOR: #214fa3; opacity: 0.4
}
UNKNOWN {
	BACKGROUND: url(temp.png)
}
.art_page_move #aui_temp_wrap {
	DISPLAY: block
}
#aui_temp IFRAME {
	Z-INDEX: -1; FILTER: alpha(opacity=0); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
.aui_content_mask {
	DISPLAY: none; BACKGROUND: url(transparent.gif); LEFT: 0px; VISIBILITY: hidden; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; opacity: 0
}
.art_loading .aui_content_mask {
	DISPLAY: block; VISIBILITY: visible
}
.art_page_move .aui_content_mask {
	DISPLAY: block; VISIBILITY: visible
}
 HTML .aui_ie6_select_mask {
	Z-INDEX: -1; FILTER: alpha(opacity=0); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%
}
UNKNOWN {
	LEFT: 0px; POSITION: fixed; TOP: 0px
}
 .art_page_ie6_fixed {
	BACKGROUND: url(about:blank) fixed
}
 HTML #aui_iframe_mask {
	; LEFT: expression(documentElement.scrollLeft+documentElement.clientWidth-this.offsetWidth); OVERFLOW: hidden; WIDTH: 100%; POSITION: absolute; ; TOP: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight); HEIGHT: 100%
}
 HTML #aui_overlay {
	; LEFT: expression(documentElement.scrollLeft+documentElement.clientWidth-this.offsetWidth); OVERFLOW: hidden; WIDTH: 100%; POSITION: absolute; ; TOP: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight); HEIGHT: 100%
}
 HTML .art_fixed {
	; LEFT: expression(documentElement.scrollLeft+documentElement.clientWidth-this.offsetWidth); OVERFLOW: hidden; WIDTH: 100%; POSITION: absolute; ; TOP: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight); HEIGHT: 100%
}
.art_page_full {
	
}
UNKNOWN {
	PADDING-RIGHT: 17px; OVERFLOW: hidden
}
.art_opacity {
	opacity: 0
}
.aui_aero .aui_td_title {
	FONT: 12px 'Microsoft Yahei', Arial
}
.aui_aero .aui_td_buttons BUTTON {
	FONT: 12px 'Microsoft Yahei', Arial
}
.aui_aero .aui_content_table {
	BACKGROUND: #fffdf3; min-width: 9em
}
.aui_aero .aui_title_wrap {
	LEFT: auto; WIDTH: 100%; POSITION: absolute; TOP: 3px; HEIGHT: 30px
}
.aui_aero .aui_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-WEIGHT: 700; PADDING-BOTTOM: 0px; COLOR: #f89500; LINE-HEIGHT: 29px; PADDING-TOP: 0px; HEIGHT: 29px
}
.aui_aero .aui_loading_tip {
	BACKGROUND: url(../skin/aero/loading.gif) no-repeat center center; MARGIN: -8px 0px 0px -8px; WIDTH: 16px; TEXT-INDENT: -9999em; HEIGHT: 16px
}
.aui_aero .aui_left_top {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_right_top {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_left_bottom {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_right_bottom {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_top {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_bottom {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_title_icon {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_close {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s.png); BACKGROUND-REPEAT: no-repeat
}
.aui_aero .aui_left_top {
	BACKGROUND-POSITION: 0px 0px; WIDTH: 14px; HEIGHT: 34px
}
.aui_aero .aui_right_top {
	BACKGROUND-POSITION: -14px 0px; WIDTH: 14px; HEIGHT: 34px
}
.aui_aero .aui_left_bottom {
	BACKGROUND-POSITION: 0px -34px; WIDTH: 14px; HEIGHT: 14px
}
.aui_aero .aui_right_bottom {
	BACKGROUND-POSITION: -14px -34px; WIDTH: 14px; HEIGHT: 14px
}
.aui_aero .aui_title_icon {
	BACKGROUND-POSITION: 0px -109px; LEFT: 0px; WIDTH: 11px; POSITION: absolute; TOP: 9px; HEIGHT: 11px
}
.aui_aero .aui_close {
	BACKGROUND-POSITION: left -96px; FONT-SIZE: 0px; Z-INDEX: 1; RIGHT: 0px; WIDTH: 13px; TEXT-INDENT: -9999em; LINE-HEIGHT: 0; TOP: 7px; HEIGHT: 13px
}
.aui_aero .aui_close:hover {
	BACKGROUND-POSITION: right -96px
}
.aui_aero .aui_top {
	BACKGROUND-REPEAT: repeat-x
}
.aui_aero .aui_bottom {
	BACKGROUND-REPEAT: repeat-x
}
.aui_aero .aui_top {
	BACKGROUND-POSITION: 0px -48px
}
.aui_aero .aui_bottom {
	BACKGROUND-POSITION: 0px -82px
}
.aui_aero .aui_left {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s2.png); BACKGROUND-REPEAT: repeat-y
}
.aui_aero .aui_right {
	BACKGROUND-IMAGE: url(../skin/aero/aero_s2.png); BACKGROUND-REPEAT: repeat-y
}
.aui_aero .aui_left {
	BACKGROUND-POSITION: left top
}
.aui_aero .aui_right {
	BACKGROUND-POSITION: right bottom
}
.aui_aero .aui_buttons_wrap {
	BACKGROUND-COLOR: #fffdf3; TEXT-ALIGN: center; moz-border-radius: 5px; webkit-border-radius: 5px; border-radius: 5px
}
.aui_aero .aui_buttons_wrap SPAN {
	BACKGROUND-IMAGE: url(../skin/aero/btns.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
.aui_aero .aui_buttons_wrap BUTTON {
	BACKGROUND-IMAGE: url(../skin/aero/btns.png); BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: transparent
}
.aui_aero .aui_buttons_wrap SPAN {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left -186px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.aui_aero .aui_buttons_wrap SPAN:hover {
	BACKGROUND-POSITION: left -217px
}
.aui_aero .aui_buttons_wrap BUTTON {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 12px; BORDER-TOP: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 31px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 31px; max-width: 200px
}
.aui_aero .aui_buttons_wrap SPAN BUTTON {
	BACKGROUND-POSITION: right -62px; COLOR: #666
}
.aui_aero .aui_buttons_wrap SPAN:hover BUTTON {
	BACKGROUND-POSITION: right -93px
}
.aui_aero .aui_buttons_wrap .aui_yes {
	BACKGROUND-POSITION: left -124px
}
.aui_aero .aui_buttons_wrap .aui_yes:hover {
	BACKGROUND-POSITION: left -155px
}
.aui_aero .aui_buttons_wrap .aui_yes BUTTON {
	BACKGROUND-POSITION: right 0px; COLOR: #f0f0f0
}
.aui_aero .aui_buttons_wrap .aui_yes:hover BUTTON {
	BACKGROUND-POSITION: right -31px
}
HTML:hover .aui_aero .aui_buttons_wrap BUTTON:unknown {
	outline: none 0
}
.aui_aero .aui_icon {
	BACKGROUND-IMAGE: url(../skin/aero/icons.png); MARGIN: 10px 0px 10px 10px; WIDTH: 48px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 48px
}
.aui_aero .art_alert {
	BACKGROUND-POSITION: 0px -96px
}
.aui_aero .art_succeed {
	BACKGROUND-POSITION: 0px 0px
}
.aui_aero .art_error {
	BACKGROUND-POSITION: 0px -48px
}
.aui_aero .art_confirm {
	BACKGROUND-POSITION: 0px -144px
}
