<input name="password" type="password" class="input" style="width:140px;" id="password"{if isset($password)} value="{$password}"{/if}/>&nbsp;
<script type="text/javascript" src="{AJ_STATIC}file/script/keyboard.js"></script>
<img src="{AJ_STATIC}file/image/keyboard.gif" title="密码键盘" alt="" class="c_p" onclick="_k('password', 'kb', this);"/>
<div id="kb" style="display:none;"></div>
{if $AJ[md5_pass] && ($action != 'login' || ($action == 'login' && !$MOD[passport]))}
<script type="text/javascript" src="{AJ_STATIC}file/script/md5.js"></script>
<script type="text/javascript">init_md5();</script>
{/if}