{template 'header'}
<link href="{AJ_SKIN}xfreset.css" rel="stylesheet" type="text/css" />
	<link href="{AJ_SKIN}xinfang.css" rel="stylesheet" type="text/css" />
	<link href="{AJ_SKIN}tool.css" rel="stylesheet" type="text/css" />
<body class="calc">
	<div id="main">
<!--计算器-->
		<div class="bread">
			<a href="{$MODULE[1][linkurl]}">{$AJ[sitename]}</a>&gt;<a href="{$MODULE[6][linkurl]}">新房</a>&gt;<span>购房能力评估</span>
		</div>
		<div class="calc_nav" id="calc_nav">
			<ul class="cf fr">
				<!-- 选中效果是给当前样式加"_h",例如：当前样式c_gf;选中样式c_gf_h -->
				<li class="c_gf_h"><a href="{$MODULE[1][linkurl]}tool/">购房能力评估</a></li>
				<li class="c_dc"><a href="{$MODULE[1][linkurl]}tool/benjin.php">贷款计算器</a></li>
				<li class="c_gj"><a href="{$MODULE[1][linkurl]}tool/gjj.php">公积金贷款</a></li>
				<li class="c_tq"><a href="{$MODULE[1][linkurl]}tool/tqhd.php">提前还贷</a></li>
				<li class="c_sf"><a href="{$MODULE[1][linkurl]}tool/sf.php">税费计算器</a></li>
			</ul>
		</div>
<!--内容区-->			
			<div class="calc_main_wrap">
			<div class="calc_main cf">
				<div class="left fl">
					<div class="top cf goufang">
						<form action="" method="" name="myform">
						<div class="sr fl">
							<h2>购房能力评估</h2>
							<ul class="cf">
								<li class="cf fl"><span class="fl">现可用于购房的资金：</span><input class="fl txt" type="text" value=""  name="rg01" onBlur="chk01()"/><b class="fl">万元</b></li>
								<li class="cf fl"><span class="fl">现家庭月收入：</span><input class="fl txt" type="text" value="" name="rg02"/><b class="fl">元</b></li>
								<li class="cf fl"><span class="fl">家庭每月用于购房支出：</span><input class="fl txt" type="text" value=""  name="rg03" onBlur="chk02()"/><b class="fl">元/月</b></li>
								<li class="cf fl"><span class="fl">您计划购买房屋的面积：</span><input class="fl  txt" type="text" value="" name="rg06"/><b class="fl">平方米</b></li>
								<li class="cf fl"><span class="fl">您期望偿还贷款的年限：</span>
									<select name="rg04" size="1" class="fl">
											<option selected="selected" value="24">2年(24期)</option>
											<option value="36">3年(36期)</option>
											<option value="48">4年(48期)</option>
											<option value="60">5年(60期)</option>
											<option value="72">6年(72期)</option>
											<option value="84">7年(84期)</option>
											<option value="96">8年(96期)</option>
											<option value="108">9年(108期)</option>
											<option value="120">10年(120期)</option>
											<option value="180">15年(180期)</option>
											<option value="240">20年(240期)</option>
											<option value="300">25年(300期)</option>
											<option value="360">30年(360期)</option>
										</select>
								</li>
							</ul>
							<p class="btn_p"><input type="button" class="btn1" value="计算" onClick="chk03()" /><a href="#" title="" target="_blank" id="reset">请除数据，重新计算</a></p>
						</div>
						<div class="re fl" >
							<h2>计算结果<span>(&nbsp;&nbsp;计算结果仅供参考&nbsp;&nbsp;)</span></h2>
							<div class="re_in">
								<span class="sj"></span>
								<p>您可购买的房屋总价为：<span id="rg07">0</span>元</p>
								<p>您可购买的房屋单价为：<span id="rg08">0</span>元/平米</p>
								<h3>购房相关税费：</h3>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;契税：<span id="rg10">0</span>元</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;公共维修基金：<span id="rg11">0</span>元</p>
								<h3>银行贷款需支付的费用:</h3>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首付款：<span id="rg12">0</span>元</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;保险费：<span id="rg13">0</span>元</p>
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;律师费：<span id="rg14">0</span>元</p>
								<p class="no_br">&nbsp;&nbsp;抵押登记费：<span id="rg15">0</span>元</p>
							</div>
						</div>
						</form>
					</div>
					<div class="bottom">
						<h4>购房能力评估</h4>
						<p>1.公积金贷款最高额度为80万元;</p>
						<p>2.对已贷款购买一套住房但人均面积低于当地平均水平，再申请购买第二套普通自住房的居民，比照执行首次贷款购买普通自住房的优惠政策。</p>
					</div>
				</div>
				<div class="right fl">
					<h3>公积金贷款利率(单位%)</h3>
					<dl class="cf calc_dl">
						<dt class="cf"><span class="fl">年限</span><strong class="fl">1-5年</strong><b class="fl">5-30年</b></dt>
						<dd class="cf"><span class="fl">2016.01.01后</span><strong class="fl">2.75</strong><b class="fl">3.25</b></dd>
						<dd class="cf"><span class="fl">2015.03.01后</span><strong class="fl">3.50</strong><b class="fl">4.00</b></dd>
						<dd class="cf"><span class="fl">2014.11.22后</span><strong class="fl">3.75</strong><b class="fl">4.25</b></dd>
						<dd class="cf"><span class="fl">2012.07.06后</span><strong class="fl">4.00</strong><b class="fl">4.50</b></dd>
						<dd class="cf"><span class="fl">2012.06.08后</span><strong class="fl">4.20</strong><b class="fl">4.70</b></dd>
						<dd class="cf"><span class="fl">2011.07.06后</span><strong class="fl">4.45</strong><b class="fl">4.90</b></dd>
						<dd class="cf"><span class="fl">2011.04.05后</span><strong class="fl">4.20</strong><b class="fl">4.70</b></dd>
					</dl>
					<h3>商业贷款利率(单位%)</h3>
					<dl class="cf calc_dl">
						<dt class="cf"><span class="fl">年限</span><strong class="fl">3-5年</strong><b class="fl">5-30年</b></dt>
						<dd class="cf"><span class="fl">2016.01.01后</span><strong class="fl">4.75</strong><b class="fl">4.95</b></dd>
						<dd class="cf"><span class="fl">2015.03.01后</span><strong class="fl">5.75</strong><b class="fl">5.90</b></dd>
						<dd class="cf"><span class="fl">2014.11.22后</span><strong class="fl">6.00</strong><b class="fl">6.15</b></dd>
						<dd class="cf"><span class="fl">2012.07.06后</span><strong class="fl">6.40</strong><b class="fl">6.55</b></dd>
						<dd class="cf"><span class="fl">2012.06.08后</span><strong class="fl">6.65</strong><b class="fl">6.80</b></dd>
						<dd class="cf"><span class="fl">2011.07.06后</span><strong class="fl">6.90</strong><b class="fl">7.05</b></dd>
						<dd class="cf"><span class="fl">2011.04.05后</span><strong class="fl">6.65</strong><b class="fl">6.80</b></dd>
						<dd class="cf"><span class="fl">2011.02.09后</span><strong class="fl">6.45</strong><b class="fl">6.60</b></dd>
						<dd class="cf"><span class="fl">2010.12.26后</span><strong class="fl">6.22</strong><b class="fl">6.40</b></dd>
						<dd class="cf"><span class="fl">2010.10.20后</span><strong class="fl">5.95</strong><b class="fl">6.14</b></dd>
						<dd class="cf"><span class="fl">2008.12.23后</span><strong class="fl">5.76</strong><b class="fl">5.94</b></dd>
						<dd class="cf"><span class="fl">2008.11.27后</span><strong class="fl">5.94</strong><b class="fl">6.12</b></dd>
						<dd class="cf"><span class="fl">2008.10.30后</span><strong class="fl">7.02</strong><b class="fl">7.20</b></dd>
						<dd class="cf"><span class="fl">2008.10.09后</span><strong class="fl">7.29</strong><b class="fl">7.47</b></dd>
						<dd class="cf"><span class="fl">2008.09.16后</span><strong class="fl">7.56</strong><b class="fl">7.74</b></dd>
						<dd class="cf"><span class="fl">2007.12.21后</span><strong class="fl">7.74</strong><b class="fl">7.83</b></dd>
					</dl>
				</div>
			</div>
		</div>

	<script type="text/javascript">
	var rg7=document.getElementById("rg7");
	var rg8=document.getElementById("rg8");
	var rg10=document.getElementById("rg10");
	var rg11=document.getElementById("rg11");
	var rg12=document.getElementById("rg12");
	var rg13=document.getElementById("rg13");
	var rg14=document.getElementById("rg14");
	var rg15=document.getElementById("rg15");

	rhb=new Array(440.104,301.103,231.7,190.136,163.753,144.08,129.379,117.991,108.923,101.542,95.425,90.282,85.902,82.133,78.861,75.997,73.473,71.236,69.241,67.455,65.848,64.397,63.082,61.887,60.798,59.802,58.890,58.052,57.282)
yhz=new Array(1.978,2.9344,3.8699,4.7847,5.6794,6.5544,7.4102,8.2472,9.0657,9.8662,10.6491,11.4148,12.1636,12.8959,13.6121,14.3126,14.9977,15.6677,16.3229,16.9637,17.5904,18.2034,18.8028,19.389,19.9624,20.5231,21.0715,21.6078,22.1323)
function chk01()
{
if (parseFloat(document.myform.rg01.value)<4.7)
	alert("--您确定是"+parseFloat(document.myform.rg01.value)+"万元?--"+"\n\n"+"那么您目前尚不具备购房能力，"+"\n\n"+"建议积攒积蓄或能筹集更多的资金。")
if (parseFloat(document.myform.rg01.value)>10000)
	alert("您确定拥有超过一亿元的购房资金？");

}
function chk02()
{
if (parseFloat(document.myform.rg03.value)>parseFloat(document.myform.rg02.value)*0.7)
	{
	alert("您预计家庭每月可用于购房支出已超过家庭月收入的70%，"+"\n\n"+"是否确定不会影响您的正常生活消费？"+"\n\n"+"建议在40%（"+parseFloat(document.myform.rg02.value)*0.4+"元）左右")
	}
}
function chk03()
{
if (document.myform.rg01.value=="")
	alert("请填写现可用于购房的资金")
else
	if (document.myform.rg02.value=="")
			alert("请填写现家庭月收入")
	else	
		if (document.myform.rg03.value=="")
			alert("请填写预计家庭每月可用于购房支出")
	else	
		if (document.myform.rg06.value=="")
			alert("请填写您计划购买房屋的面积")
	else
		chk04()


}
function chk04()
{
js00=parseFloat(document.myform.rg01.value)*10000
js01=parseFloat(document.myform.rg03.value)
js02=Math.round(js01/rhb[parseInt(document.myform.rg04.options[document.myform.rg04.selectedIndex].value)/12-2])*10000
js03=parseFloat(document.myform.rg06.value)

if (js02>js00*3.2)
	js02=js00*3.2
rg07.innerHTML=Math.round((js02+0.8*js00)*100)/100
rg08.innerHTML=Math.round(parseFloat(rg07.innerHTML)/js03*100)/100
if (js03<120)
	rg10.innerHTML=Math.round(parseFloat(rg07.innerHTML)*2)/100
else
	rg10.innerHTML=Math.round((parseFloat(rg07.innerHTML)-parseFloat(rg08.innerHTML)*120)*4+parseFloat(rg08.innerHTML)*120*2)/100
rg11.innerHTML=Math.round(parseFloat(rg07.innerHTML)*2)/100
rg12.innerHTML=Math.round(parseFloat(rg07.innerHTML)*20)/100
rg13.innerHTML=Math.round(Math.round(parseFloat(rg07.innerHTML)*0.05)/100*yhz[parseInt(document.myform.rg04.options[document.myform.rg04.selectedIndex].value)/12-2]*100)/100
rg14.innerHTML=Math.round(parseFloat(rg07.innerHTML)*0.3)/100
rg15.innerHTML="200~500"
}
		document.getElementById("reset").onclick=function() {
			document.getElementsByName('myform')[0].reset();
			return false;
		}
</script>
	<script type="text/javascript">
		seajs.use(["jquery"],function($) {
			//计算器导航
			(function() {
				var str='';
				$('#calc_nav').find('li').on({
					'mouseenter':function() {
						str=$(this).attr('class');
						$(this).addClass(str+'_h');
					},
					'mouseleave':function() {
						$(this).removeClass(str+'_h');
					}
				});
			})();
			$(".calc_dl dd:odd").css("background","#eee");
		});
	</script>	</div>
{template 'footer'}