<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
            <rules>
               <rule name="aijiacms_rewrite_0">
                     <match url="^(.*)\.(asp|aspx|asa|asax|dll|jsp|cgi|fcgi|pl)(.*)$" />
                     <action type="Rewrite" url="/404.php" />
                </rule>
               <rule name="aijiacms_rewrite_1">
                     <match url="^(.*)/file/(.*)\.php(.*)$" />
                     <action type="Rewrite" url="/404.php"  />
                </rule>
               <rule name="aijiacms_rewrite_2">
                     <match url="^(.*)-htm-(.*)$" />
                     <action type="Rewrite" url="{R:1}.php?{R:2}" />
                </rule>
                 <rule name="aijiacms_rewrite_3">
                    <match url="^(.*)/show-([0-9]+)([\-])?([0-9]+)?\.html$" />
                    <action type="Rewrite" url="{R:1}/show.php?itemid={R:2}&amp;page={R:4}"  />
                </rule>
                <rule name="aijiacms_rewrite_4">
                    <match url="^(.*)/list-([0-9]+)([\-])?([0-9]+)?\.html$" />
                    <action type="Rewrite" url="{R:1}/list.php?catid={R:2}&amp;page={R:4}"  />
                </rule>
                <rule name="aijiacms_rewrite_5">
                    <match url="^(.*)/show/([0-9]+)/([0-9]+)?([/])?$" />
                    <action type="Rewrite" url="{R:1}/show.php?itemid={R:2}&amp;page={R:3}"  />
                </rule>
                <rule name="aijiacms_rewrite_6">
                    <match url="^(.*)/list/([0-9]+)/([0-9]+)?([/])?$" />
                    <action type="Rewrite" url="{R:1}/list.php?catid={R:2}&amp;page={R:3}"  />
                </rule>
                <rule name="aijiacms_rewrite_7">
                    <match url="^(.*)/([A-za-z0-9_\-]+)-c([0-9]+)-([0-9]+)\.html$" />
                    <action type="Rewrite" url="{R:1}/list.php?catid={R:3}&amp;page={R:4}"  />
                </rule>
                <rule name="aijiacms_rewrite_8">
                    <match url="^(com)/([a-z0-9_\-]+)/([a-z]+)/(.*)\.html$" />
                    <action type="Rewrite" url="index.php?homepage={R:2}&amp;file={R:3}&amp;rewrite={R:4}"  />
                </rule>
                <rule name="aijiacms_rewrite_9">
                    <match url="^(com)/([a-z0-9_\-]+)/([a-z]+)([/])?$" />
                    <action type="Rewrite" url="index.php?homepage={R:2}&amp;file={R:3}"  />
                </rule>
                <rule name="aijiacms_rewrite_10">
                    <match url="^(com)/([a-z0-9_\-]+)([/])?$" />
                    <action type="Rewrite" url="index.php?homepage={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_11">
                     <match url="^([a-z]+)/(.*)\.shtml$" />
                     <action type="Rewrite" url="{R:1}/index.php?rewrite={R:2}" />
                </rule>
               <rule name="aijiacms_rewrite_12">
                    <match url="^(.*)/(house)/list-(r|b|t|p|f|l|o|h|n|g|j|e)([0-9A-Z_]+)\.html?$" />
                    <action type="Rewrite" url="{R:1}/list.php?&amp;{R:2}={R:3}"  />
                </rule>
               <rule name="aijiacms_rewrite_13">
                    <match url="^(house)/list-r([0-9]+)-t([0-9]+)-p([0-9]+)-k(.*).html?$" />
                    <action type="Rewrite" url="{R:1}/list.php?&amp;r={R:2}&amp;t={R:3}&amp;p={R:4}&amp;k={R:5}"  />
                </rule>
               <rule name="aijiacms_rewrite_14">
                    <match url="^(house)/map.html?$" />
                    <action type="Rewrite" url="map/newhouse.php"  />
                </rule>
               <rule name="aijiacms_rewrite_15">
                    <match url="^(house)/([0-9]+)/?$" />
                    <action type="Rewrite" url="{R:1}/show.php?&amp;itemid={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_16">
                    <match url="^(house)/([0-9]+)/index.html$" />
                    <action type="Rewrite" url="{R:1}/show.php?&amp;itemid={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_17">
                    <match url="^(house)/([0-9]+)/wenfang-g([0-9]+).html?$" />
                    <action type="Rewrite" url="extend/wenfang.php?mid=6&amp;itemid={R:1}&amp;page={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_18">
                    <match url="(house)/([0-9]+)/(xinxi|huxing|jiage|xiangce|wenfang|peitao|zixun|dianping|pic).html?$" />
                    <action type="Rewrite" url="{R:1}/show.php?&amp;at={R:3}&amp;itemid={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_19">
                    <match url="^(.*)/p([0-9]+)-h([0-9]+).html?$" />
                    <action type="Rewrite" url="{R:1}/show.php?itemid={R:2}&amp;houseid={R:3}"  />
                </rule>
               <rule name="aijiacms_rewrite_20">
                    <match url="^(house)/([0-9]+)/xiangce-c([0-9]+).html?$" />
                    <action type="Rewrite" url="{R:1}/show.php?&amp;at=xiangce&amp;itemid={R:2}&amp;catids={R:3}"  />
                </rule>
               <rule name="aijiacms_rewrite_21">
                    <match url="^(house)/baojia.html?$" />
                    <action type="Rewrite" url="{R:1}/baojia.php"  />
                </rule>

               <rule name="aijiacms_rewrite_22">
                    <match url="^(broker)/index.html$" />
                    <action type="Rewrite" url="{R:1}/index.php"  />
                </rule>
               <rule name="aijiacms_rewrite_23">
                    <match url="^(broker)/list-(r|b|t|p|f|l|o|h|n|g|c|y|e|m|u|i)([0-9_]+).html?$" />
                    <action type="Rewrite" url="{R:1}/index.php?&amp;{R:2}={R:3}"  />
                </rule>
               <rule name="aijiacms_rewrite_24">
                    <match url="^(broker)/list-(.*).html?$" />
                    <action type="Rewrite" url="{R:1}/index.php?&amp;param={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_25">
                    <match url="^(sale)/map.html?$" />
                    <action type="Rewrite" url="map/index.php"  />
                </rule>
                <rule name="aijiacms_rewrite_26">
                    <match url="^(rent)/map.html?$" />
                    <action type="Rewrite" url="map/index.php"  />
                </rule>
               <rule name="aijiacms_rewrite_27">
                    <match url="^(.*)/index.html$" />
                    <action type="Rewrite" url="{R:1}/index.php"  />
                </rule>
               <rule name="aijiacms_rewrite_28">
                    <match url="^(.*)/list.html$" />
                    <action type="Rewrite" url="{R:1}/list.php"  />
                </rule>
               <rule name="aijiacms_rewrite_29">
                    <match url="^(.*)/list-(r|b|t|p|f|l|o|h|n|g|c|y|e|m|u|i)([0-9_]+).html?$" />
                    <action type="Rewrite" url="{R:1}/list.php?&amp;{R:2}={R:3}"  />
                </rule>
               <rule name="aijiacms_rewrite_30">
                    <match url="^(.*)/list-k(.*).html?$" />
                    <action type="Rewrite" url="{R:1}/list.php?&amp;k={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_31">
                    <match url="^(.*)/list-(.*).html?$" />
                    <action type="Rewrite" url="{R:1}/list.php?&amp;param={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_32">
                    <match url="^(.*)/pk/(.+)?$" />
                    <action type="Rewrite" url="{R:1}/compare.php?&amp;itemid={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_33">
                    <match url="^(community)/([0-9]+)/?$" />
                    <action type="Rewrite" url="{R:1}/show.php?&amp;itemid={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_34">
                    <match url="^(community)/([0-9]+)/index.html?$" />
                    <action type="Rewrite" url="{R:1}/show.php?&amp;at={R:3}&amp;itemid={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_35">
                    <match url="^(community)/([0-9]+)/(sale|rent|price|map).html?$" />
                    <action type="Rewrite" url="{R:1}/show.php?&amp;at={R:3}&amp;itemid={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_36">
                    <match url="^(community)/([0-9]+)/(sale|rent)-(p|c|i|u|h|n|e|m|g)([0-9_]+).html?$" />
                    <action type="Rewrite" url="{R:1}/show.php?&amp;at={R:3}&amp;itemid={R:2}&amp;{R:4}={R:5}"  />
                </rule>
               <rule name="aijiacms_rewrite_37">
                    <match url="^(community)/([0-9]+)/(sale|rent)-(.*).html?$" />
                    <action type="Rewrite" url="{R:1}/show.php?&amp;at={R:3}&amp;itemid={R:2}&amp;param={R:4}"  />
                </rule>
               <rule name="aijiacms_rewrite_38">
                    <match url="^(.*)/search.html$" />
                    <action type="Rewrite" url="{R:1}/search.php"  />
                </rule>
               <rule name="aijiacms_rewrite_39">
                    <match url="^(.*)/search-k([^/-]+).html$" />
                    <action type="Rewrite" url="{R:1}/search.php?&amp;kw={R:2}"  />
                </rule>
               <rule name="aijiacms_rewrite_40">
                    <match url="^(.*)/search-([^/-]+)-p([0-9]+).html$" />
                    <action type="Rewrite" url="{R:1}/search.php&amp;kw={R:2}&amp;page={R:3}"  />
                </rule>
               <rule name="aijiacms_rewrite_41">
                    <match url="^(.*)/(.*)\.htm$" />
                    <action type="Rewrite" url="{R:1}/404.php"  />
                </rule>
              <rule name="aijiacms_rewrite_42">
                    <match url="^(map)/sale.html?$" />
                    <action type="Rewrite" url="map/index.php"  />
                </rule>
              <rule name="aijiacms_rewrite_43">
                    <match url="^(map)/rent.html?$" />
                    <action type="Rewrite" url="map/rent.php"  />
                </rule>
               <rule name="aijiacms_rewrite_44">
                    <match url="^(map)/house.html?$" />
                    <action type="Rewrite" url="map/newhouse.php"  />
                </rule>
            </rules>
        </rewrite>		
    </system.webServer>
</configuration>